<!Doctype html>
<html>
    <head>
        <title>Help Page</title>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        {{>header}}
        <div class="main"><p>{{text}}</p></div>
        {{>footer}}
        <script src="/js/base.js"></script>
    </body>
</html>